* {
  font-family: Convection Medium, Segoe UI, SegoeUI, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to left, #ddd, #b0b0b0);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #fff;
  font-weight: 100;
}
