.slide-wrapper {
  display: flex;
  position: relative;
  right: 0;
  transition: 0.5s ease;
}

.slide-window {
  display: flex;
  overflow: hidden;
  border: 1px solid;
}

.simple-slide {
  width: 1500px;
  height: 100vh;
}

.main-slider {
  display: flex;
}

.slide-button {
}

.slide-button-span {
  display: inline-block;
  transform: rotate(90deg);
  font-size: 3em;
  letter-spacing: 0.2rem;
  width: 5rem;
  color: #393939;
}
